/*Horizontally Spaced*/

.horizonatlly-spaced {
	text-align: center;
}

.horizonatlly-spaced > * {
	display: inline-block;
	padding: 1.5em;
	vertical-align: top;
}
/*Horizontally Spaced*/

/*Vertically Spaced*/

.vertically-spaced {
	margin-top: 6em;
	margin-bottom: 6em;
}

/*Vertically Spaced*/

/*Horizontally List*/

.horizontal-list > *{
	display: inline-block;
}

/*Horizontally List*/

/* Buttons */
.btn-sm{
	display: inline-block;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	background-color: #ED828A;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	border: none;
}

.btn-md{
	display: inline-block;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 2em;
	padding-right: 2em;
	background-color: #ED828A;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	border: none;
}
.btn-lg{
	display: inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2.7em;
	padding-right: 2.7em;
	background-color: #ED828A;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-size: 24px;
	border: none;
}
/* Buttons */

/*Navigation*/

.nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	background-color: #ED828A;
	border-radius: 5px;
	width: 100%;
}

.nav > ul > li {
	display: table-cell;
	font-size: 16px;
	z-index: 10;
	text-align: center;
}

.nav > ul > li > a {
	display: block;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: #ED828A;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	text-align: center;
}
.nav > ul > li > a:hover {
	background-color: #C34B67;
}

/*Navigation*/