/*Horizontally Spaced*/

.horizonatlly-spaced {
	text-align: center;
}

.horizonatlly-spaced > * {
	display: inline-block;
	padding: 1.5em;
	vertical-align: top;
}
/*Horizontally Spaced*/

/*Vertically Spaced*/

.vertically-spaced {
	margin-top: 6em;
	margin-bottom: 6em;
}

/*Vertically Spaced*/

/*Horizontally List*/

.horizontal-list > *{
	display: inline-block;
}

/*Horizontally List*/
